@font-face {
  font-family: "ChicagoKare";
  src: url("/ChicagoKare-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-main: #0f0;
  --text-info: #f00;
  --bg-info: #270000;
  --bg-main: #000;

  --terminal-width: 62ch;
}

button,
a {
  text-decoration: none;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
  padding: 2px 16px;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-family: ChicagoKare, courier;
}

button:disabled,
a:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: not-allowed;
}

button:hover:not(:disabled),
a:hover:not(:disabled) {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
}

body {
  font-family: "courier new", "courier", monospace;
  background-color: var(--bg-main);
  color: var(--text-main);
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(var(--terminal-width) + 2ch);
  margin-top: 1rem;
}

.scrollers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

select {
  width: 100%;
}
