:root {
  --text-main: #0f0;
  --text-info: #f00;
  --bg-info: #270000;
  --bg-main: #000;
}

body {
  font-family: "courier new", "courier", monospace;
  background-color: var(--bg-main);
  color: var(--text-main);
}

.with-controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
