.terminal {
  line-height: 1.25rem;
  font-size: 1rem;
  font-family: Courier, monospace;
  width: 62ch;
  background-color: var(--bg-main);
}

.terminal-header,
.terminal-footer {
  color: var(--text-info);
  background-color: var(--bg-info);
  height: 1.5lh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1ch;
}

.terminal-inner {
  color: var(--text-main);
  height: 20lh;
  padding: 1lh 1ch;
  white-space: pre-wrap;
  display: flex;
}

.terminal-inner-content {
  min-height: 0;
  flex-grow: 1;
  overflow-y: hidden;
  word-break: break-word;
}

.terminal-inner-logon {
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.terminal-inner-logon-logo {
  width: 10.5ch;
  aspect-ratio: 1/1;
}

.terminal-inner-logon-heading {
  margin-top: 1lh;
  font-size: 1.15rem;
  font-weight: bold;
}

.contents {
  display: contents;
}
