.floors polygon {
  stroke: none;
}
.poly {
  /* plain floor (also hill / teleporter) */
  fill: #002f00;
}
.poly-platform {
  /* platform / door */
  fill: #750000;
}
.poly-minor-ouch {
  /* minor damage floor (M1 lava) */
  fill: #4c1b00;
}
.poly-major-ouch {
  /* major damage floor */
  fill: #890089;
}

line {
  fill: none;
  vector-effect: non-scaling-stroke;
}
.wall {
  /* solid walls */
  stroke: #00ff00;
  stroke-width: 100;
}
.elevation {
  /* steps / height changes */
  stroke: #009c00;
  stroke-width: 80;
}

.checkpoint {
  opacity: 0;
  stroke: #ff0000;
  stroke-width: 200;
  fill: none;
  r: 700;
}

.map-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.map-wrapper svg {
  width: 100%;
  height: 100%;
}
